<div id="bulkUpdateContainer" class="container">
    <div class="row bg-success bulk-update-row" id="bulkUpdateToggle">
        <a role="button" data-toggle="collapse" href="#bulkUpdate" aria-expanded="false" aria-controls="bulkUpdate">
            Bulk Update
        </a>
    </div>
    <div class="collapse form-horizontal" id="bulkUpdate">
        <div class="row bg-warning bulk-update-row" id="bulkUpdateRoomType">
            <label class="col-sm-2 control-label" for="formBulkRoomType">Select Room:</label>
            <div class="col-md-2">
                <select class="form-control" id="formBulkRoomType" ng-model="bulkUpdateForm.roomType">
                    <option ng-repeat="roomType in roomTypes" value="{{ '{{roomType.type}}' }}">{{ '{{roomType.name}}' }}</option>
                </select>
            </div>
        </div>
        <div class="row bg-success bulk-update-row" id="bulkUpdateDays">
            <label class="col-sm-2 control-label">Select Days:</label>
            <div class="col-md-2">
                <label for="bulk-from" class="control-label">From:</label>
                <input class="form-control" type="text" name="bulk-from" ng-model="bulkUpdateForm.dateFrom" />
                <label for="bulk-to" class="control-label">To:</label>
                <input class="form-control" type="text" name="bulk-to" ng-model="bulkUpdateForm.dateTo" />
            </div>
            <div class="col-md-8">
                <div class="row">
                    <label class="col-md-2 control-label" class="control-label">Refine Days:</label>
                    <div class="col-md-3">
                        <div class="radio"><label><input ng-model="bulkUpdateForm.refineGroup" name="bulkRefineGroup" type="radio" value="127" />All Days</label></div>
                        <div class="radio"><label><input ng-model="bulkUpdateForm.refineGroup" name="bulkRefineGroup" type="radio" value="31" />All Weekdays</label></div>
                        <div class="radio"><label><input ng-model="bulkUpdateForm.refineGroup" name="bulkRefineGroup" type="radio" value="96" />All Weekends</label></div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox"><label><input ng-model="bulkUpdateForm.refineDays.monday" name="bulkRefineDays" type="checkbox" />Mondays</label></div>
                        <div class="checkbox"><label><input ng-model="bulkUpdateForm.refineDays.tuesday" name="bulkRefineDays" type="checkbox" />Tuesdays</label></div>
                        <div class="checkbox"><label><input ng-model="bulkUpdateForm.refineDays.wednesday" name="bulkRefineDays" type="checkbox" />Wednesdays</label></div>
                        <div class="checkbox"><label><input ng-model="bulkUpdateForm.refineDays.thursday" name="bulkRefineDays" type="checkbox" />Thursdays</label></div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox"><label><input ng-model="bulkUpdateForm.refineDays.friday" name="bulkRefineDays" type="checkbox" />Fridays</label></div>
                        <div class="checkbox"><label><input ng-model="bulkUpdateForm.refineDays.saturday" name="bulkRefineDays" type="checkbox" />Saturdays</label></div>
                        <div class="checkbox"><label><input ng-model="bulkUpdateForm.refineDays.sunday" name="bulkRefineDays" type="checkbox" />Sundays</label></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-warning bulk-update-row" id="bulkUpdatePriceAvailability">
            <label class="col-sm-2 control-label" for="formBulkPrice">Change Price To:</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="formBulkPrice" name="bulk-price" ng-model="bulkUpdateForm.price" />
            </div>
            <label class="col-sm-2 control-label" for="formBulkAvailability">Change Availability To:</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="formBulkAvailability" name="bulk-availability" ng-model="bulkUpdateForm.availability" />
            </div>
        </div>
        <div class="row bg-success bulk-update-row" id="bulkUpdateButtons">
            <a class="btn btn-danger" role="button" ng-click="bulkReset()">Cancel</a>
            <a class="btn btn-success" role="button" ng-click="bulkSubmit(bulkUpdateForm)">Update</a>
        </div>
    </div>
</div>
